@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Changa&display=swap');

@font-face {
  font-family: "sOuTh Afirkas 2100";
  src: url("assets/fonts/south-afirkas-2100.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Changa", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
